<h2>{{'ADMIN.AUDITOR.REGISTER' | translate}}</h2>
<div class="input-row">
    <mat-form-field appearance="outline" class="field">
        <mat-label>{{'SHARED.NAME' | translate}}*</mat-label>
        <input matInput [(ngModel)]="auditor.name"/>
    </mat-form-field>
</div>
<div class="input-row">
    <mat-form-field appearance="outline" class="field">
        <mat-label>{{'SHARED.SURNAME' | translate}}*</mat-label>
        <input matInput [(ngModel)]="auditor.surname"/>
    </mat-form-field>
</div>
<div class="input-row">
    <mat-form-field appearance="outline" class="field">
        <mat-label>{{'SHARED.EMAIL' | translate}}*</mat-label>
        <input matInput [(ngModel)]="auditor.email"/>
    </mat-form-field>
</div>
<div class="input-row">
    <mat-form-field appearance="outline" class="field">
        <mat-label>{{'ADMIN.AUDITOR.COMPANY' | translate}}*</mat-label>
        <input matInput [(ngModel)]="auditor.company"/>
    </mat-form-field>
</div>
<div class="input-row">
    <mat-form-field appearance="outline" class="field">
        <mat-label>{{'SHARED.PASSWORD' | translate}}*</mat-label>
        <input matInput type="password" [(ngModel)]="auditor.pwd"/>
    </mat-form-field>
</div>
<div class="btn-div">
    <button mat-button color="warn" (click)="onCancel()">{{'SHARED.CANCEL' | translate}}</button>
    <button mat-raised-button color="primary" (click)="onAccept()">{{'SHARED.REGISTER' | translate}}</button>
</div>